"*":
  Zen:
    gutter: true
    minimap: true
    tabs: "multiple"
    width: 120
  "atom-beautify":
    general:
      _analyticsUserId: "e043c8f8-0e0d-48fb-a491-8f10805c07ff"
  core:
    disabledPackages: [
      "file-type-icons"
      "linter-eslint"
    ]
  editor:
    fontSize: 11
    invisibles: {}
    scrollPastEnd: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "95c57a5b-9e4e-7b2d-66e3-696d3724a679"
  "language-babel":
    transpileOnSave: true
  "linter-eslint":
    globalNodePath: "/home/zalew/.npm-global"
    lintHtmlFiles: true
  "meteor-helper":
    meteorPort: 3030
  welcome:
    showOnStartup: false
