"*":
  Zen:
    gutter: true
    minimap: true
    tabs: "multiple"
    width: 120
  "atom-beautify":
    general:
      _analyticsUserId: "e043c8f8-0e0d-48fb-a491-8f10805c07ff"
      analytics: false
      muteAllErrors: true
      muteUnsupportedLanguageErrors: true
    handlebars:
      beautify_on_save: true
      end_with_newline: true
      indent_inner_html: true
      max_preserve_newlines: 2
    html:
      beautify_on_save: true
      indent_inner_html: true
      max_preserve_newlines: 2
    js:
      beautify_on_save: true
      end_with_comma: true
      end_with_newline: true
      jslint_happy: true
    scss:
      beautify_on_save: true
    spacebars:
      beautify_on_save: true
  core:
    audioBeep: false
    disabledPackages: [
      "file-type-icons"
      "linter-eslint"
      "atom-prettify"
    ]
  editor:
    fontSize: 11
    invisibles: {}
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "95c57a5b-9e4e-7b2d-66e3-696d3724a679"
  "language-babel":
    transpileOnSave: true
  "linter-eslint":
    globalNodePath: "/home/zalew/.npm-global"
    lintHtmlFiles: true
  "meteor-helper":
    meteorPort: 3030
  "save-session":
    dataSaveFolder: "/home/zalew/.atom/packages/save-session/projects"
  welcome:
    showOnStartup: false
